@layer utilities {
	#root[x-apple-data-detectors="true"],
	a[x-apple-data-detectors="true"] {
		color: inherit !important;
		text-decoration: inherit !important;
	}

	.break-word {
		word-break: break-word;
	}
}
